<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dataBaseProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServelet</display-name>
    <servlet-name>loginServelet</servlet-name>
    <servlet-class>dao.loginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServelet</servlet-name>
    <url-pattern>/loginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPlayerServlet</display-name>
    <servlet-name>addPlayerServlet</servlet-name>
    <servlet-class>dao.addPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPlayerServlet</servlet-name>
    <url-pattern>/addPlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkPlayer</display-name>
    <servlet-name>checkPlayer</servlet-name>
    <servlet-class>dao.checkPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkPlayer</servlet-name>
    <url-pattern>/checkPlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkPlayerServlet</display-name>
    <servlet-name>checkPlayerServlet</servlet-name>
    <servlet-class>dao.checkPlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkPlayerServlet</servlet-name>
    <url-pattern>/checkPlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServelet</display-name>
    <servlet-name>logoutServelet</servlet-name>
    <servlet-class>logoutServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServelet</servlet-name>
    <url-pattern>/logoutServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout_Servelet</display-name>
    <servlet-name>logout_Servelet</servlet-name>
    <servlet-class>dao.logout_Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout_Servelet</servlet-name>
    <url-pattern>/logout_Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlayerServelet</display-name>
    <servlet-name>DeletePlayerServelet</servlet-name>
    <servlet-class>dao.DeletePlayerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlayerServelet</servlet-name>
    <url-pattern>/DeletePlayerServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCoachServelet</display-name>
    <servlet-name>deleteCoachServelet</servlet-name>
    <servlet-class>dao.deleteCoachServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCoachServelet</servlet-name>
    <url-pattern>/deleteCoachServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePlayerServelet</display-name>
    <servlet-name>deletePlayerServelet</servlet-name>
    <servlet-class>dao.deletePlayerServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePlayerServelet</servlet-name>
    <url-pattern>/deletePlayerServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePlayerServlet</display-name>
    <servlet-name>updatePlayerServlet</servlet-name>
    <servlet-class>dao.updatePlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePlayerServlet</servlet-name>
    <url-pattern>/updatePlayerServlet</url-pattern>
  </servlet-mapping>
</web-app>